<form class="form-horizontal">
    <div class="control-group" data-toggle="tooltip">
        <label class="control-label">{{ _('Enable Webcam') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.webcam.enabled" />
        </div>
    </div>
</form>
